---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar.tsx';
import { Hero } from '../components/Hero';
import { ProjectsSection } from '../components/ProjectsSection.tsx';
import { ExperienceSection } from '../components/ExperienceSection.tsx';
import { ContactSection } from '../components/ContactSection.tsx';
import { SITE_CONFIG } from '../data/config';
---

<Layout title={SITE_CONFIG.title} description={SITE_CONFIG.description}>
  <Navbar client:load />
  
  <main>
    <Hero />
    <ExperienceSection client:load />
    <ProjectsSection client:load />
    <ContactSection client:load />
  </main>
</Layout>
